<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <style>
body {background-color: powderblue;}
h3  {color: black;}
p   {color: red;}
body  {text-align:center;}
input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  border: 10;
  color: black;
  padding: 10px 28px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body  style="background-image: url({% static 'rnt.jpg' %})">

<h1> Car Rental </h1>

<form method="post" action="{% url 'approvedisadmin' %}"  enctype="multipart/form-data">
{%csrf_token%}
      <div class="col">
        <div class="hide-md-lg">
            <br>
            <br>

        </div><h3><b>
          Select  Transaction Id:

          <select id="trans" name="id">
              {% for item in acu %}
  <option value="{{ item.id }}">{{ item.id }}</option>

              {% endfor %}
</select>
<br><br>
          Discount:
           <input type="TEXT"  name="dis" value="0.0">
          <br><br>
        Approvel:
        <select id="status" name="status">

  <option value="ACCEPTED">ACCPTED</option>
            <option value="NOTACCEPTED">NOT ACCEPTED</option>


</select>


        <input type="submit" name="Ok" value="Ok" >
          <br>
          <br>
         </b></h3>

      </div>
      </div>
      </div>
    </div>
  </form>

</div>
</body>
</html>